  body{
    font-family: Lato;
  }

  a{
    text-decoration: none;
  }

  .is-raleway{
    font-family: Raleway;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .header{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed; 
    justify-content: space-around;
    width: 100%; 
    background-color: #fff;
    z-index: 1;
  } 

  .header__inner{
    display: flex;
    justify-content: space-between;
  }

  .bolt__logo{
    display: inline-block;
  }

  .contact__btn{
    display: inline-block;
    padding: 14px 12px;
    font-size: 12px;
    background-color: #74cfae;
    color: #fff;
    vertical-align: top;
  }

  .contact__btn:hover{
    color: #333;
    transition: color 0.3s;
    cursor : pointer;
  }

  .main{
    padding-top: 70px;
  }


  .bolt-theme{
    background-color: #f2f2f2;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
    font-family: Raleway;
  }

  .bolt__title{
    font-size: 90px;
    font-weight: 700;
    color: #74cfae;
  }

  .bolt__subtitle{
    font-size: 30px;
    margin-top: 20px;
    color: #c0c0c0;
  } 

  .what_we_can_do{
    background-color: #74cfae;
    padding-top: 50px;
    color: #fff;
    width: 100%; 
  }

  .what_we_can_do__text{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
  }

  .what_we_can_do__title{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    display: inline-block;
  }

  .our_latest_work__title{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
  }

  .our_latest_work{
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
  }

  .our_latest_work__imgs{
    margin-top: 40px;
    font-size: 0;
    line-height: 0;
    z-index: 0;
  }

  .our_latest_work__common{
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .our_latest_work__common:hover{
    opacity: 1.0;
  }

  .our_latest_work__footer{
    margin: 0 auto;
    font-size: 0;
  }

  .our_latest_work__text{
    font-size: 20px;
  }

  .email__btn{
    display: inline-block;
    font-size: 12px;
    padding: 14px 20px;
    background-color: #74cfae;
    color: #fff;
  }

  .email__btn:hover{
    color: #333;
    transition: color 0.3s;
    cursor : pointer;
  }

  .our_skills{
    background-color: #333;
    padding-top: 70px;
    padding-bottom: 100px;
    width: 100%;
  }

  .our_skills_title{
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
  }

  .our_skills_imgs{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
  }

  .our_skills_img{
    padding-bottom: 10px;
  }

  .sns_icons__common{
    display: inline-block;
    width: 185px;
    color: #74cfae;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: background-color 0.3s;
  }

  .sns_icons__common:hover{
    background-color: #fff;
  }

  .footer{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #74cfae;
    color: #fff;
    width: 100%;
  }

  .footer__text{
    display: inline-block;
    text-align: right;
  }

  .sns_icons__common{
    color: #74cfae;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: background-color 0.3s;
  }

  .sns__links{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #f2f2f2;
  }

/* PC */
@media screen and (min-width:1200px){

  .inner{
    width: 1100px;
    margin: 0 auto;
  }
  
  .bamburger__icon{
    visibility: hidden;
  }

  .bolt__subtitle{
    font-size: 30px;
    margin-top: 20px;
    color: #c0c0c0;
  }
  
  .br-sp{
    display: none;
  }

  .what_we_can_do__inner{
    display: flex;
    justify-content: space-between;
  }

  .what_we_can_do__subtitle{
    margin-top: 35px;
    font-size: 20px;
  }

  .our_latest_work{
    background-color: #f2f2f2;
    color: #333;
    width: 100%; 
  }

  .our_latest_work__imgs{
    float: left;
    margin-bottom: 90px;
  }

  .our_latest_work__link{
    display: inline-block;
    margin-left: 100px;
    margin-top: 80px;
  }

  .our_latest_work__link:first-child{
    margin-left: 0;
  }


  .our_latest_work__link:nth-child(3n+4){
    margin-left: 0;
  }

  .our_latest_work__link:nth-child(-n+3){
    margin-top: 0;
  }

  .our_latest_work__text{
    display: inline-block;
    margin-right: 90px;
  }

  .email__btn{
    vertical-align: top;
  }

  .our_skills_title{
    margin-bottom: 70px;
  }

  .our_skills_common{
    text-align: center;
  }

  .our_skills_circle{
    color: #fff;
    margin-left: 180px;
    float: left;
    text-align: center;
  }

  .our_skills_circle:first-child{
    margin-left: 0;
  }

  .sns_icons__common{
    display: inline-block;
    width: 185px;
  }
}

/* TAB */
@media screen and (min-width:768px) and (max-width:1199px){
  
  .inner{
    width: 97%;
    margin: 0 auto;
  }

  .bamburger__icon{
    visibility: hidden;
  }
  
  
  .br-sp{
    display: none;
  }

  
  .what_we_can_do{
    padding-bottom: 25px;
    text-align: center;
  }

  .what_we_can_do_img{
    display: block;
    margin: 0 auto;
  }
  
  .what_we_can_do__text{
    display: inline-block;
  }
  
  .what_we_can_do__title{
    margin-top: 20px;
  }
  
  .what_we_can_do__subtitle{
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .our_latest_work__imgs{
    display: block;
    margin-bottom: 80px;
  }
  
  .our_latest_work__link{
    display: block;
  }
  
  .our_latest_work__link:first-child{
    margin-top: 0;
  }
  
  .our_latest_work__link:nth-child(3n+4){
    margin-top: 80px;
  } 
  
  .our_latest_work__footer{
    display: block;
  }
  
  .our_latest_work__text{
    display: block;
    margin-bottom: 40px;
  }
  
  .br-pc{
    display: none;
  }

  .our_skills{
    text-align: center;
  }
  
  .our_skills_title{
    margin-bottom: 35px;
  }
  
  .our_skills_circle{
    color: #fff;
    margin-top: 88px;
  }
  
  .our_skills_circle:first-child{
    margin-top: 0;
  }
  
}


/* SP */
@media screen and (max-width:767px){

  .inner{
    width: 97%;
    margin: 0 auto;
  }

  .header__inner{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bolt__logo{
    float: left;
  }
  .contact__btn{
    display: none;
  }

  .bamburger__icon{
    color: #c0c0c0;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .bolt-theme{
    padding-top: 160px;
    padding-bottom: 130px;
  }
  
  .bolt__title{
    font-size: 80px;
  }

  .what_we_can_do{
    padding-bottom: 25px;
    width: 100%; 
    text-align: center;
  }

  .what_we_can_do_img{
    display: block;
    margin: 0 auto;
  }
  
  .what_we_can_do__title{
    margin-top: 20px;
  }
  
  .what_we_can_do__subtitle{
    margin-top: 35px;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .our_latest_work__title{
    margin-bottom: 40px;
  }

  .our_latest_work__imgs{
    display: block;
    margin-bottom: 80px;
    width: 300px;
    margin: 0 auto;
  }
  
  .our_latest_work__link{
    display: block;
  }
  
  .our_latest_work__link:first-child{
    margin-top: 0;
  }
  
  .our_latest_work__link:nth-child(3n+4){
    margin-top: 80px;
  } 
  
  .our_latest_work__footer{
    display: block;
    margin-top: 90px;
  }
  
  .our_latest_work__text{
    display: block;
    margin-bottom: 40px;
  }

  .br-pc{
    display: none;
  }

  .our_skills{
    text-align: center;
  }
  
  .our_skills_title{
    margin-bottom: 35px;
  }
  
  .our_skills_circle{
    color: #fff;
    margin-top: 88px;
  }
  
  .our_skills_circle:first-child{
    margin-top: 0;
  }

  .sns__links{
    text-align: center;
    padding-top: 50px;
    background-color: #f2f2f2;
  }
  
  .sns_icons__common{
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}